.about.textOuter
  h1.title.title--1.about__title
    | Вы работаете&nbsp;
    br.break.break--mobile
    | — мы отдыхаем

  .textOuter.textOuter--2
    .text.text--1
      p.text__paragraph
        | Мы&nbsp;не&nbsp;несем ответственность за&nbsp;изданные книги. Мы&nbsp;выбираем книги случайно и&nbsp;где попало. Наши любимые темы не&nbsp;определены, не&nbsp;глубоки и&nbsp;не&nbsp;интересны. Мы&nbsp;считаем, что краткость. Поэтому мы&nbsp;обходимся двумя словами, чтобы выразить все эмоции и&nbsp;донести смысл.

  article.textOuter.textOuter--3
    h2.title.title--2
      | История названия

    .text.text--2
      p.text__paragraph
        | Название издательства &laquo;Фрай, без штанов и&nbsp;Бендер&raquo; является отсылкой к&nbsp;известному мировому издательству XXI века &laquo;Манн, Иванов и&nbsp;Фербер&raquo;. После того как издательство смоделировало искусственный интеллект (вобравший в&nbsp;себя 25&nbsp;триллионов изданных книг) и&nbsp;все ее&nbsp;сотрудники исчезли в&nbsp;Бесконечном Нейронном Пространстве межгалактический совет запретил издавать бумажные книги.

  .about__employees
    ul.employees
      li.employees__item
        img.employees__img(src='/img/employees/1.jpg')

      li.employees__item.employees__img--marked
        img.employees__img(src='/img/employees/2.jpg')

      li.employees__item
        img.employees__img(src='/img/employees/3.jpg')

      li.employees__item
        img.employees__img(src='/img/employees/4.jpg')

      li.employees__item
        img.employees__img(src='/img/employees/5.jpg')

      li.employees__item
        img.employees__img(src='/img/employees/6.jpg')

  article.textOuter.textOuter--3
    h2.title.title--2
      | Основатели

    article.text.text--2
      h3.title.title--3
        | Филип Джей Фрай

      p.text__paragraph
        | В&nbsp;1999 году Фрай встречался с&nbsp;девушкой по&nbsp;имени Мишель и&nbsp;работал курьером в&nbsp;&laquo;Пиццерии Пануччи&raquo;. Жизнь у&nbsp;него пустая, его ничего не&nbsp;интересует, кроме, разве что игровых автоматов.

      p.text__paragraph
        | Жил&nbsp;он, судя по&nbsp;всему, у&nbsp;Мишель.&nbsp;31&nbsp;декабря 1999 года Мишель отшила его, и&nbsp;ему надо было доставить пиццу в&nbsp;криогенную лабораторию. Однако только там он&nbsp;заметил, что это был розыгрыш. Он&nbsp;сидел один в&nbsp;пустом здании лаборатории и&nbsp;качался на&nbsp;стуле, поедая пиццу, когда часы пробили полночь, и&nbsp;в&nbsp;этот момент Фрай упал со&nbsp;стула и&nbsp;попал в&nbsp;криогенную капсулу, в&nbsp;которой был заморожен на&nbsp;1000 лет и&nbsp;был разморожен только 31&nbsp;декабря 2999&nbsp;года.

      p.text__paragraph
        | Позднее, в&nbsp;эпизоде &laquo;The Why of&nbsp;Fry&raquo;, оказалось, что это Зубастик подтолкнул Фрая, чтобы он&nbsp;упал в&nbsp;криокамеру, для того чтобы Фрай спас вселенную в&nbsp;серии &laquo;The Day the Earth Stood Stupid&raquo;. В&nbsp;этом&nbsp;же эпизоде выяснилось, что Фрая подтолкнул сам Фрай, из&nbsp;будущего. Причина&nbsp;&mdash; девушка: Зубастик заключает с&nbsp;Фраем сделку&nbsp;&mdash; Филип помогает защищать Вселенную от&nbsp;грозящих ей&nbsp;в&nbsp;XXXI веке опасностей, а&nbsp;зубастильонцы, в&nbsp;свою очередь, помогают ему добиться взаимности от&nbsp;Лилы.

    article.text.text--2
      h3.title.title--3
        | Бендер Сгибатель Родригес великий, незаконнособранный

      p.text__paragraph
        | Бендер Сгибатель Родригез, более известный как Бендер&nbsp;&mdash; один из&nbsp;главных персонажей &laquo;Футурамы&raquo;. Он&nbsp;был сделан в&nbsp;Мексике (Тихуана) в&nbsp;2997&nbsp;году. Имеет серийный номер 2716057. Бендер пьет большое количество алкоголя, чтобы подзарядить свои топливные элементы. Когда он&nbsp;отрыгивает, из&nbsp;его рта выход огонь. Авантюрист, любит курить сигары. В&nbsp;настоящее время живет с&nbsp;Фраем в&nbsp;квартире.

    article
      h2.title.title--2
        | Сотрудники

      article.text.text--2
        h3.title.title--3
          | Скраффи Скраффингтон

        p.text__paragraph
          | Скраффи Скраффингтон, или просто Скраффи — уборщик в компании «Планет Экспресс». О нём часто повторяют шутки про то, что он мало взаимодействует с остальным коллективом и многие его просто не помнят или никогда не видели раньше. Также, Скраффи является владельцем 40 тыс. акций «Планет Экспресса», и это больше, чем у остальных сотрудников, поскольку он «больше всех любит свою компанию» (по его словам).

        p.text__paragraph
          | Скраффи ленив и его обычно можно увидеть в подвале здания штаб «Планет Экспресс», где он читает журнал «Zero-G Jugg» или «National Pornographic» (рус. «Нэшнл Порнографик»). Обычно о себе говорит в третьем лице.

      blockquote.text__blockquote(title='')
        | Сотрудники издательства были не&nbsp;раз замечены в&nbsp;провокациях и&nbsp;совершали бессмысленные действия

      article.text.text--2
        h3.title.title--3

        p.text__paragraph
          | Добродушный пришелец, но&nbsp;прибегает к&nbsp;насилию даже при малейшей провокации. Как правило глотает негодяя.

      article.text.text--2
        h3.title.title--3

        p.text__paragraph
          | Рекламное лицо компании.

      article.text.text--2
        h3.title.title--3

        p.text__paragraph
          | Зепп Бранниган (англ. Zapp Brannigan, полное имя Уэбело Зепп Бранниган, англ. Webelo Zapp Brannigan)&nbsp;&mdash; персонаж, человек, капитан корабля Нимбус. Питает страстью к&nbsp;Лиле, но&nbsp;она не&nbsp;отвечает взаимностью. Имеет собственного помощника&nbsp;&mdash; Кифа. Часто заставляет его делать неприятную работу, например, почесать спинку, намылить Зеппу голову в&nbsp;душе и&nbsp;так далее. Занимает должность генерала в&nbsp;армии.

        p.text__paragraph
          | Киф ненавидит Зеппа, но&nbsp;вынужден служить ему. Больше всего Киф ненавидит, когда Зепп его просит:&mdash; потереть спинку;

        | &mdash;&nbsp;подать свежее нижнее белье в&nbsp;душ;
        | &mdash;&nbsp;позвонить в&nbsp;службу доставки парфюма и&nbsp;угрозами об&nbsp;уничтожении  выпросить&nbsp;99% скидку на&nbsp;любимые духи Зеппа;
        | &mdash;&nbsp;помыть посуду;
        | &mdash;&nbsp;передать вон той леди, как Зепп ее&nbsp;сильно желает.

        p.text__paragraph
          | В&nbsp;остальном Киф доволен службой в&nbsp;Ограниченных Галактических Непобедимых войсках на&nbsp;должности помощника генерала.
