.about.text
  .text__level.text__level--1
    h1.text__title.title.title--1
      | Вы работаете&nbsp;
      br.break.break--mobile
      | — мы отдыхаем
    
    .text__group
      p.text__p
        | Мы&nbsp;не&nbsp;несем ответственность за&nbsp;изданные книги. Мы&nbsp;выбираем книги случайно и&nbsp;где попало. Наши любимые темы не&nbsp;определены, не&nbsp;глубоки и&nbsp;не&nbsp;интересны. Мы&nbsp;считаем, что краткость. Поэтому мы&nbsp;обходимся двумя словами, чтобы выразить все эмоции и&nbsp;донести смысл.

    article.text__level.text__level--2
      h2.text__title.title.title--2
        | История названия

      .text__group
        p.text__p
          | Название издательства &laquo;Фрай, без штанов и&nbsp;Бендер&raquo; является отсылкой к&nbsp;известному мировому издательству XXI века &laquo;Манн, Иванов и&nbsp;Фербер&raquo;. После того как издательство смоделировало искусственный интеллект (вобравший в&nbsp;себя 25&nbsp;триллионов изданных книг) и&nbsp;все ее&nbsp;сотрудники исчезли в&nbsp;Бесконечном Нейронном Пространстве межгалактический совет запретил издавать бумажные книги.

    .about__employees
      ul.employees
        li.employees__item
          img.employees__img(src='/img/employees/1.jpg', alt='сотрудник')

        li.employees__item.employees__img--marked
          img.employees__img(src='/img/employees/2.jpg', alt='сотрудник')

        li.employees__item
          img.employees__img(src='/img/employees/3.jpg', alt='сотрудник')

        li.employees__item
          img.employees__img(src='/img/employees/4.jpg', alt='сотрудник')

        li.employees__item
          img.employees__img(src='/img/employees/5.jpg', alt='сотрудник')

        li.employees__item
          img.employees__img(src='/img/employees/6.jpg', alt='сотрудник')

    .text__level.text__level--2
      h2.text__title.title.title--2
        | Основатели

      article.text__level.text__level--3
        h3.text__title.title.title--3
          | Филип Джей Фрай

        .text__group
          p.text__p
            | В&nbsp;1999 году Фрай встречался с&nbsp;девушкой по&nbsp;имени Мишель и&nbsp;работал курьером в&nbsp;&laquo;Пиццерии Пануччи&raquo;. Жизнь у&nbsp;него пустая, его ничего не&nbsp;интересует, кроме, разве что игровых автоматов.

          p.text__p
            | Жил&nbsp;он, судя по&nbsp;всему, у&nbsp;Мишель.&nbsp;31&nbsp;декабря 1999 года Мишель отшила его, и&nbsp;ему надо было доставить пиццу в&nbsp;криогенную лабораторию. Однако только там он&nbsp;заметил, что это был розыгрыш. Он&nbsp;сидел один в&nbsp;пустом здании лаборатории и&nbsp;качался на&nbsp;стуле, поедая пиццу, когда часы пробили полночь, и&nbsp;в&nbsp;этот момент Фрай упал со&nbsp;стула и&nbsp;попал в&nbsp;криогенную капсулу, в&nbsp;которой был заморожен на&nbsp;1000 лет и&nbsp;был разморожен только 31&nbsp;декабря 2999&nbsp;года.

          p.text__p
            | Позднее, в&nbsp;эпизоде &laquo;The Why of&nbsp;Fry&raquo;, оказалось, что это Зубастик подтолкнул Фрая, чтобы он&nbsp;упал в&nbsp;криокамеру, для того чтобы Фрай спас вселенную в&nbsp;серии &laquo;The Day the Earth Stood Stupid&raquo;. В&nbsp;этом&nbsp;же эпизоде выяснилось, что Фрая подтолкнул сам Фрай, из&nbsp;будущего. Причина&nbsp;&mdash; девушка: Зубастик заключает с&nbsp;Фраем сделку&nbsp;&mdash; Филип помогает защищать Вселенную от&nbsp;грозящих ей&nbsp;в&nbsp;XXXI веке опасностей, а&nbsp;зубастильонцы, в&nbsp;свою очередь, помогают ему добиться взаимности от&nbsp;Лилы.


      article.text__level.text__level--3
        h3.text__title.title.title--3
          | Бендер Сгибатель Родригес великий, незаконнособранный

        .text__group
          p.text__p
            | Бендер Сгибатель Родригез, более известный как Бендер&nbsp;&mdash; один из&nbsp;главных персонажей &laquo;Футурамы&raquo;. Он&nbsp;был сделан в&nbsp;Мексике (Тихуана) в&nbsp;2997&nbsp;году. Имеет серийный номер 2716057. Бендер пьет большое количество алкоголя, чтобы подзарядить свои топливные элементы. Когда он&nbsp;отрыгивает, из&nbsp;его рта выход огонь. Авантюрист, любит курить сигары. В&nbsp;настоящее время живет с&nbsp;Фраем в&nbsp;квартире.


      h2.text__title.title.title--2
        | Сотрудники

      article.text__level.text__level--3
        h3.text__title.title.title--3
          | Скраффи Скраффингтон

        .text__group
          p.text__p
            | Скраффи Скраффингтон, или просто Скраффи&nbsp;&mdash; уборщик в&nbsp;компании &laquo;Планет Экспресс&raquo;. О&nbsp;нём часто повторяют шутки про&nbsp;то, что он&nbsp;мало взаимодействует с&nbsp;остальным коллективом и&nbsp;многие его просто не&nbsp;помнят или никогда не&nbsp;видели раньше. Также, Скраффи является владельцем 40&nbsp;тыс. акций &laquo;Планет Экспресса&raquo;, и&nbsp;это больше, чем у&nbsp;остальных сотрудников, поскольку он&nbsp;&laquo;больше всех любит свою компанию&raquo; (по&nbsp;его словам).

        .text__group
          p.text__p
            | Скраффи ленив и&nbsp;его обычно можно увидеть в&nbsp;подвале здания штаб &laquo;Планет Экспресс&raquo;, где он&nbsp;читает журнал &laquo;Zero-G Jugg&raquo; или &laquo;National Pornographic&raquo; (рус. &laquo;Нэшнл Порнографик&raquo;). Обычно о&nbsp;себе говорит в&nbsp;третьем лице.

      blockquote.text__blockquote(title='')
        | Сотрудники издательства были не&nbsp;раз замечены в&nbsp;провокациях и&nbsp;совершали бессмысленные действия


      article.text__level.text__level--3
        h3.text__title.title.title--3
          | Ужасный студень

        .text__group
          p.text__p
            | Добродушный пришелец, но&nbsp;прибегает к&nbsp;насилию даже при малейшей провокации. Как правило глотает негодяя.

      article.text__level.text__level--3
        h3.text__title.title.title--3
          | Калькулон

        .text__group
          p.text__p
            | Рекламное лицо компании.


      article.text__level.text__level--3
        h3.text__title.title.title--3
          | Зепп Бранниган

        .text__group
          p.text__p
            | Зепп Бранниган (англ. Zapp Brannigan, полное имя Уэбело Зепп Бранниган, англ. Webelo Zapp Brannigan)&nbsp;&mdash; персонаж, человек, капитан корабля Нимбус. Питает страстью к&nbsp;Лиле, но&nbsp;она не&nbsp;отвечает взаимностью. Имеет собственного помощника&nbsp;&mdash; Кифа. Часто заставляет его делать неприятную работу, например, почесать спинку, намылить Зеппу голову в&nbsp;душе и&nbsp;так далее. Занимает должность генерала в&nbsp;армии.

          p.text__p
            | Киф ненавидит Зеппа, но&nbsp;вынужден служить ему. Больше всего Киф ненавидит, когда Зепп его просит:

          p.text__p.text__p--directSpeech
            | потереть спинку;

          p.text__p.text__p--directSpeech
            | подать свежее нижнее белье в&nbsp;душ;

          p.text__p.text__p--directSpeech
            | позвонить в&nbsp;службу доставки парфюма и&nbsp;угрозами об&nbsp;уничтожении
            br
            | выпросить&nbsp;99% скидку на&nbsp;любимые духи Зеппа;

          p.text__p.text__p--directSpeech
            | помыть посуду;

          p.text__p.text__p--directSpeech
            | передать вон той леди, как Зепп ее&nbsp;сильно желает.

          p.text__p
            | В остальном Киф доволен службой в&nbsp;Ограниченных Галактических Непобедимых войсках на&nbsp;должности помощника генерала.
