.booksShowcase
  h1.title.booksShowcase__title
    | Самое незаметное издательство

  p.booksShowcase__description
    | Перетаскивайте книги ниже с&nbsp;места на&nbsp;место. Это&nbsp;то, чем мы&nbsp;любим больше всего заниматься. Попробуйте, вам понравится.

  .booksShowcase__list
    ul.books
      li.books__item
        .book
          .book__image

          .book__title
            | Краткая история почти ничего. Эта книга — недоразуменье.

  button.booksShowcase__buy
    | Еще несколько книг