.liveBook(ng-class='{"liveBook--bought": isBought}')
  .liveBook__ribbon
    svg.svg.ribbon.ribbon--big
      use(xlink:href='#svgRibbon')

  img.liveBook__cover(src='/img/live_book/live_book.jpg', alt='Живая книга (ее нужно кормить)')

  .liveBook__eye
    .eye(ng-controller='eyeCtrl', ng-class='{"eye--isCrazy": isCrazy}', style='{{eyeStyle}}')
      .eye__pupil(style='{{pupilStyle}}')

      svg.svg.eye__eyelids
        use(xlink:href='#svgEyelids')
