.liveBook
  .liveBook__ribbon
    svg.svg.ribbon.ribbon--big
      use(xlink:href='#svgRibbon')

  img.liveBook__cover(src='/img/live_book/live_book.jpg', alt='Живая книга (ее нужно кормить)')

  .liveBook__eye
    .eye
      .eye__pupil

      svg.svg.eye__eyelids
        use(xlink:href='#svgEyelids')
