.liveBookShowcase
  .title.title--1.liveBookShowcase__title
    | Мы&nbsp;издаем&nbsp;
    br.break.break--mobile.break.break--tablet
    | книги&nbsp;&mdash;&nbsp;вы&nbsp;
    br.break.break--desktop
    | их&nbsp;
    br.break.break--mobile.break.break--tablet.break--wideDesktop
    | можете&nbsp;не&nbsp;
    br.break.break--mobile
    | читать

  .liveBookShowcase__book
    include _live_book

  .liveBookShowcase__teaser.liveBookShowcase__teaser--bender
    .factTeaser
      img.factTeaser__img(src='/img/live_book/1.jpg', alt='')

      blockquote.factTeaser__text.factTeaser__text--blockquote(title='')
        | Эта книга доказывает ничтожность человеческой массы.

  .liveBookShowcase__teaser.liveBookShowcase__teaser--zoidberg
    .factTeaser
      img.factTeaser__img.factTeaser__img--zoidberg(src='/img/live_book/2.jpg', alt='')

      p.factTeaser__text
        | В книге чувствуется безысходность и&nbsp;бесполезность

  .liveBookShowcase__teaser.liveBookShowcase__teaser--code
    .factTeaser
      img.factTeaser__img(src='/img/live_book/3.jpg', alt='')

      p.factTeaser__text
        | Книга неправильно
        br.break.break--mobile
        | переведена
        br.break.break--tablet.break--desktop.break--wideDesktop
        | на&nbsp;двоичный&nbsp;код

  .liveBookShowcase__teaser.liveBookShowcase__teaser--magnet
    .factTeaser
      img.factTeaser__img(src='/img/live_book/4.jpg', alt='')

      p.factTeaser__text
        | В каждой книге магнит, который вытягивает вашу мелочь

  .liveBookShowcase__buyText
    | В топ-100&nbsp;
    br.break.break--mobile
    a.liveBookShowcase__link(href='http://zoidbergzon.com')
      span.liveBookShowcase__highlighted
        | Zoidberg
      | zon.com
    | &nbsp;
    br.break.break--mobile.break--tablet.break--desktop.break--wideDesktop
    | &nbsp;в&nbsp;разделах «Это правда&nbsp;
    br.break.break--mobile
    |было так»&nbsp;
    br.break.break--tablet.break--desktop.break--wideDesktop
    | и «Когнитивный писсонанс»

  .liveBookShowcase__footer
    button.liveBookShowcase__submit
      | Купить
      br.break.break--mobile
      | за жалкие 1999
      span.liveBookShowcase__currency
        | Z

    .liveBookShowcase__aboutPrices
      | Наши цены самые непредсказуемые&nbsp;
      br.break.break--mobile
      | и&nbsp;формируются
      br.break.break--tablet.break--desktop.break--wideDesktop
      | нашим уборщиком&nbsp;
      br.break.break--mobile
      | Скраффи

    img.liveBookShowcase__skraffi(src='/img/live_book/skraffi.jpg', alt='Скраффи')
