.productsShowcase.text
  .text__level.text__level--1
    h1.title.title--1.productsShowcase__title
      | Самое незаметное издательство

    p.text__p.productsShowcase__description
      | Перетаскивайте книги ниже с&nbsp;места на&nbsp;место. Это&nbsp;то, чем мы&nbsp;любим больше всего заниматься. Попробуйте, вам понравится.

  ul.productsShowcase__list
    include product
    .productsShowcase__marker
    include product

    include product

    include product

    include product

    include product

    include product

    include product

  button.productsShowcase__more
    | Еще несколько книг
