form.search
  .search__field
    input.search__input(type='text', placeholder='Поиск, скорее всего, не работает')

    svg.svg.search__magnifier
      use(xlink:href='#svgMagnifier')

  button.search__submit
    svg.svg.search__enter
      use(xlink:href='#svgEnter')
