li.productsShowcase__item
  .product
    .product__book.productsShowcase__book
      .book
        .book__ribbon(style='color: red;')
          svg.svg.ribbon
            use(xlink:href='#svgRibbon')

        img.book__image.productsShowcase__cover(src='/img/books/1.jpg', alt='some text')

    .product__title
      | Все знания о вселенной компактно упакованы на одной странице.
