.footer {
  display: flex;
  justify-content: center;
}

.footer__group {
  height: 193px;
  position: relative;
  width: 300px;
}

.footer__bender {
  height: 193px;
  width: 300px;
}

.footer__logo {
  height: 29px;
  left: 29px;
  position: absolute;
  top: 19px;
  width: 240px;
}
