.header {
  padding-bottom: 26px;
  padding-top: 40px;

  @media screen and (min-width: $tablet) {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 27px;
    padding-top: 60px;
  }
}

.header__logo {
  width: 300px;
  margin: 0 auto 36px;

  @media screen and (min-width: $tablet) {
    margin: 0 20px 0 43px;
  }
}

.header__search {
  margin: 0 auto 0;
  width: 300px  ;

  @media screen and (min-width: $tablet) {
    margin: 0 14px 4px 0;
    width: 313px;
  }
}
