.liveBook {
  position: relative;
}

.liveBook__cover {
  box-shadow: 5px 10px 25px rgba(0, 0, 0, 0.55);
  position: relative;
  min-width:  300px;
  width: 100%;

  @media screen and (min-width: $tablet) {
    height: 600px;
    width: 420px;
  }
}

.liveBook__bookmark {

}

.liveBook__eye {
  left: 50%;
  position: absolute;
  top: 385 / 600 * 100%;
  transform: translate(-50%, -50%);
}
